.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
    
@media (min-width: 108px)
{
    .gradient-form 
    {
        height: 100vh !important;
    }
} 
@media (min-width: 100px) 
{
    .gradient-custom-2 
    {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.acc
{
    text-wrap: nowrap;
    display: flex;
}
.form-control::placeholder
{
    color: white;
}
.text-muted
{
    text-decoration: none;
    color: black;
}
.btn-outline-danger
{
    text-wrap: nowrap;
    text-align: center;
    margin-left: 13%;
    background-color: #d8363a;
    color: white;
    border: solid;
    border-color: black;
    border-width: 1px;
}
#createnew
{
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}